<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부름이 관리자페이지</title>
    <link rel="stylesheet" href="../css/admin_index_nav.css" type="text/css" />
    <link rel="stylesheet" href="../css/admin_score.css" type="text/css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav class="leftsidebar">
        <div class="logo"><a href="/admin"><img src="../img/bureumi_logo.png"></a></div>
        <ul>
            <li class="adminid">
                관리자아이디: <%=id%>
                <br><input type="submit" value="로그아웃" onclick="location.href='/logout'">
            </li>
            <li>
                <a href="#" class="dropmenu-btn">회원관리
                    <span class="fas fa-caret-down first"></span>
                </a>
            </li>
            <li>
                <ul class="dropmenu-show">
                    <li><a href="/admin/userinfo">회원정보관리</a></li>
                    <li><a href="/admin/bureumiinfo">부름이정보관리</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#" class="dropmenu2-btn">요청관리
                    <span class="fas fa-caret-down second"></span>
                </a>
            </li>
            <li>    
                <ul class="dropmenu2-show">
                    <li><a href="/admin/request">요청글</a></li>
                    <li><a href="/admin/matching">요청진행(매칭)</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropmenu3-btn">공지관리
                    <span class="fas fa-caret-down third"></span>
                </a>
            </li>
            <li>    
                <ul class="dropmenu3-show">
                    <li><a href="/admin/notice">공지작성</a></li>
                    <li><a href="/admin/faq">FAQ</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="right_content">
            <h2>글관리 > 평점글관리</h2>
            <hr>
            <table>
                <tr>
                    <th>회원번호</th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>생년월일</th>
                    <th>핸드폰번호</th>
                    <th>회원등급</th>
                    <th>평점</th>
                    <th>이메일</th>
                    <th>상세</th>
                </tr>
                <!--데이터 불러오기-->
                <tr>
                    <td>useruid</td>
                    <td>userid</td>
                    <td>username</td>
                    <td>datebirth</td>
                    <td>phonenumber</td>
                    <td>userlevel</td>
                    <td>score</td>
                    <td>email</td>
                    <td><input type="button" value="확인"></td>
                </tr>
                <tr>
                    <td>useruid</td>
                    <td>userid</td>
                    <td>username</td>
                    <td>datebirth</td>
                    <td>phonenumber</td>
                    <td>userlevel</td>
                    <td>score</td>
                    <td>email</td>
                    <td><input type="button" value="확인"></td>
                </tr>
                <tr>
                    <td>useruid</td>
                    <td>userid</td>
                    <td>username</td>
                    <td>datebirth</td>
                    <td>phonenumber</td>
                    <td>userlevel</td>
                    <td>score</td>
                    <td>email</td>
                    <td><input type="button" value="확인"></td>
                </tr>
            </table>
        </div>
    </div>

    <!--Juery cdn-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--build시 jquery 불러가지고 올 수 없어서 파일소스를 가지고 옴-->
    <script src="../js/jquery-latest.min.js"></script>

    <!--Bootstrap cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--날짜 관련 api cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <!-- javascript -->
    <script src="../js/admin_index.js" type="text/javascript"></script>
</body>


</html>