<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>본인확인</title>
  <link rel="stylesheet" href="css/login.css" type="text/css" />
</head>
<div id="container" class="login">
  <div id="logo">
    <a href=""><img src="img/bureumi_logo.png" /></a>
  </div>
  <div class="login_form">
<form action="/pass_check/checking" method="POST">
    <input type='password' name="password"  placeholder="비밀번호를 입력하세요">
    <button type="submit" class="login_button">비밀번호 확인</button>
</form>
</div>


</html>

