*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
} 
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222222;
    text-align: left;
}
p {
    color: black;
}
/*모든 container 속성*/
.container {
    width: 100%;
    margin: 0px auto;
    /* padding: 0px 15px; */
}

/*contentr*/
.main{
    background: #ffffff;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -200px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3, .col-md-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #326cff;
}

.tab-content>.tab-pane {
    display: none;
    
}

.tab-content>.active {
    display: block;
}

.rounded-circle {
    border-radius: 50% !important;
}

.justify-content-center {
    justify-content: center !important;
}

.float-left {
    float: left !important;
}

.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}
    
.mr-auto{
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}
.text-center {
    text-align: center !important;
    width: 100%;
    
}

.main > .profile-content > .container > .text-center{
    width: 70%;
    margin: 0 auto;
    background-color:#e5e5e5;
    border: 1px solid #e5e5e5;
}

.nav-tabs, .nav-pills {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}
.nav .nav-item {
    position: relative;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rounded {
    border-radius: 6px !important;
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    width: 6rem;
    text-align: center;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    border: 1px solid blue;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills .nav-item .nav-link.active {
    color: #ffffff;
    background-color: #326cff;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(50, 108, 255, 0.6);
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.tab-space {
    padding: 20px 0 50px 0px;
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
}

.header-filter {
    position: relative;
}

.header-filter:before, .header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: #282b32;
}

.header-filter .container {
    z-index: 2;
    position: relative;
}

.page-header {
    height: 380px;
    background-position: top center;
}

/*footer*/
footer {
    padding: 0.9375rem 0;
    text-align: center;
    display: -webkit-flex;
    display: flex;
}

footer .copyright {
    padding: 15px 0;
}

/*미디어 쿼리*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}





.update button {
    margin: -1px;
    border: 0px;
    background-color: #f5f5f5;
    padding: 4px 9px;
}
.request_form {
    width: 100%;
}
.request_form h3{
    width: 320px;
    margin: 80px auto 0px auto;
}
#category{
    margin-top: -40px;
    margin-right: 30px;
    float: right;
    width: 50px; height: 50px;
    background-image: url(../img/category-icon1_80.png);
    background-size: 90%;
    background-color: #f5f5f5;
    border-radius: 50px;
    background-position: center;
    cursor: pointer;
}
.request_content{
    width: 95%;
    margin: 30px auto;
    font-size: 14px;
}
.request_content div{
    text-align: right;
}
.request_content table{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: black;
    padding: 10px;
}
.request_content table tr{
    height: 20px;
}
.request_content table td{
    border-bottom: 1px solid #eaeaea;
    padding: 7px;
}
.request_content table tr:nth-child(1) td {
    color: black;
    font-size: 25px;
    text-align: left;
    height: 40px;
}
.time {
    font-size: 13px;
    display: inline-block;
    float: right;
}
.time img {
    margin-left: 7px;
}
.request_content table tr:nth-child(2) td {
    font-size: 20px;
}
.request_content table tr:nth-child(3) td {
    background-color: #f5f5f5;
    padding: 5px;
}
.request_content table tr:nth-child(3) td a{
    color: black;
    display: flex;
    vertical-align: middle;
    font-weight: bold;
}
.request_content table tr:nth-child(4){
    height: 300px;
}
.request_content table tr:nth-child(5) td{
    padding: 0px;
}
.request_content table tr:nth-child(6){
    font-weight: bold;
}
.request_content table tr:nth-child(7){
    text-align: center;
}
.request_content table tr:nth-child(7) button{
    border: 0px;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #326cff;
    color: white;
}
.request_content table tr:nth-child(7) button:hover{
    background-color: #f5f5f5;
    color: black;
}
.chat {
    background-color: #f5f5f5;
    font-size: 15px;
}
.chat div {
    color: black;
    text-align: center;
}
.request_icon{
    height: 100px;
}
.request_icon ul{
    width: 220px;
    margin: 0 auto;
}
.request_icon ul li{
    list-style: none;
    float: left;
    text-align: center;
}
.request_icon ul li div{
    width: 40px; height: 40px;
    background-image: url(../img);
    background-size: 90%;
    background-color: #f5f5f5;
    border-radius: 50px;
    background-position: center;
    cursor: pointer;
    margin: 0px 10px;

}


ul {
  list-style:none;
  padding-inline-start: 0px;
  margin: 0;
}
.step-state {
  padding:5px;
  background:#f7f7f7
}
.step-state ul:after {
  content:'';
  display:block;
  clear:both
}
.step-state ul li {
  float:left;
  position:relative;
  width:25%;
  padding-top:50px;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  line-height:12px;
  color:#666
}
/* 회색 진행바 생성 */
.step-state ul li:before {
  position:absolute;
  top:35px;
  left:0;
  right:0;
  height:3px;
  background:#ddd;
  content:''
}
.step-state ul li:nth-child(1):after {
    background:#326cff;
  }
/* 첫 번째 진행바 반만 생성*/
.step-state ul li:nth-child(1):before {
  left:50%;
}
/* 마지막 진행바 반만 생성*/
.step-state ul li:nth-child(4):before {
  right:50%;
}
.step-state ul li:after {
  position:absolute;
  top:29px;
  left:54%;
  width:15px;
  height:15px;
  margin-left:-10px;
  background: #ddd;
  border-radius: 70%;
  background-size:auto 24px;
  background-position:0 0;
  content:''
}
/* 활성화 상태바 */
.step-state.step1 ul li:nth-child(1):before,
.step-state.step2 ul li:nth-child(-n+2):before,
.step-state.step2-ing ul li:nth-child(-n+2):before,
.step-state.step3 ul li:nth-child(-n+3):before,
.step-state.step3-ing ul li:nth-child(-n+3):before,
.step-state.step4 ul li:nth-child(-n+4):before {
  background:#326cff;
}
/* 활성화 아이콘 표시 */
.step-state.step1 ul li:nth-child(1):after,
.step-state.step2 ul li:nth-child(-n+2):after,
.step-state.step2-ing ul li:nth-child(-n+2):after,
.step-state.step3 ul li:nth-child(-n+3):after,
.step-state.step3-ing ul li:nth-child(-n+3):after,
.step-state.step4 ul li:nth-child(-n+4):after {
  background-position:-20px 0;
  background:#326cff;
  border-radius: 70%;
}
/* 도전 중일 경우의 1/2 영역 비활성화 상태바 영역 */
.step-state ul li p:before {
  position:absolute;
  top:35px;
  left:50%;
  right:0;
  height:3px;
  content:'';
}
.step-state.step2 ul li:nth-child(2) p:before,
.step-state.step3 ul li:nth-child(3) p:before {
  background:#ddd
}

@media screen and (max-width : 980px){
    .request_form{
        position: relative;
        margin: -20px auto 0px auto;
        padding-bottom: 50px;
        width: 90%;
        border-radius: 3px;
    }
  }